
h1, h3 {
  color: #000000;
}

figcaption {
  font-size: 100px;
  line-height: 1;
  font-family: Helvetica;
  text-align: left;
  margin: 50px 0px 0px 0px;
}

figcaption.again {
  font-size: 10px;
  font-family: Helvetica;
  padding: 0px;
}

.uk-navbar {
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  position: relative;
}


.navbar-active {
  z-index: 999;

}



body {
  font-family: Helvetica;
  font-size: 15px;
  line-height: 1.5;

  background-color: #ffffff;
  color: #000000;
}



header {
  padding: 35px;
}

a {
  text-decoration: ;
}

blockquote {
  font-size: 20px;
  margin: 0;
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #f48fb1;
  padding: 0.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  page-break-after: always;
}

p {
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
}

.paragraph {
  text-align: center;


}




.parallax {
  /* The image used */
  background-image: url("ads.jpg");
  /* Set a specific height */
  min-height: 700px;
  min-width: 1200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_2 {
  background-image: url("sd.jpg");
  min-height: 600px;
  min-width: 60px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 80px auto 40px auto;
  width: 1120px;
  font-size: 17px;
  font-family: Helvetica;
}
/* media */
@media (max-width: 1248px) {
  body {
    width: auto;
    margin: 80px 64px 40px 64px;
  }

  p, div.paragraph {
    font-size: 12px;
  }

  figcaption {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  body {
    width: auto;
    font-size: 16px;
  }
}
